
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div>
        <h2>Projects:</h2>
        <ul>
            <li>
                <h3>Online Banking System</h3>
                <p> It is an online Bankig system like Paypal.Through this service people can transfar money, pay bills,make payments etc.</p>
                
            </li>

            <li>
                <h3>Blood Bank Management System</h3>
                <p> Its is an web application thorough which blood donation is automated.</p>
              

            </li>
            <li>
                <h3>Assignment Managemet system</h3>
                <p>It is a service which enables the students and teachers to manage their assignment online</p>
               

            </li>

        </ul>
    </div>
</body>
</html>
