
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Qualification</title>
</head>
<body>
    <div> 
        <h2>Educational Qualification:</h2>
        <ul>
            <li>
                <h3>BSc in Computer Science and Engineering</h3>
                <p> <b>Semester: </b> 9th</p>
                <p> <b>CGPA: </b> 3.86</p>

            </li>

            <li>
                <h3>HSC</h3>
                <p> <b>Institution: </b> Cambrian College</p>
                <p> <b>Group: </b> Science</p>
                <p> <b>GPA: </b> 4.25</p>
                <p> <b>Year: </b> 2019</p>

            </li>
            <li>
                <h3>SSC</h3>
                <p> <b>Institution: </b> Daudpur Putina High School</p>
                <p> <b>Group: </b> Science</p>
                <p> <b>GPA: </b> 4.36</p>
                <p> <b>Year: </b> 2017</p>

            </li>

        </ul>

    </div>
</body>
</html>
