
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ref</title>
</head>
<body>
    <div> 
        <h3>References:</h3>
        <b> Md. Siamul Islam</b>
        <p>
            siyamul@aiub.edu
        </p>
    </div>
</body>
</html>
