
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        <h3>Personal Information:</h3>
        <p><b>Name : </b> Showrov Islam</p>
        <p><b>ID : </b> Showrov Islam</p>
        <p><b>Email : </b> Showrov Islam</p>
        <p><b>Address : </b> Showrov Islam</p>

    </div>
</body>
</html>
